.DropDown {
    display: flex;
    justify-content: space-evenly;
    text-shadow: 0px 0px 0px;
    cursor: auto !important;
    background: transparent;
}

.rowDivs h4 {
    color: #f56692;
    text-transform: uppercase;
}

.rowDivs h4:hover {
    color: #f34278;
}

.rowDivs ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.rowDivs ul li {
    font-family: ManropeRegular;
    margin: 15px 17.8px 0px -20px !important;
    padding: 0px;
    cursor: pointer;
}

.rowDivs ul li:hover {
    color: #f56692;
    text-shadow: 0px 0px 0px white !important;
}

.imgNav {
    width: 320px;
}

@media only screen and (max-width: 1050px) {
    .DropDown {
        display: none;
    }
}