@font-face {
    font-family: ManropeExtraBold;
    src: url(./../../Manrope/static/Manrope-ExtraBold.ttf);
}

.ulTag {
    margin: 0px 3%;
    background-color: white;
    list-style-type: none;
}

.LiPTag {
    font-family: ManropeExtraBold;
    font-size: 1.5rem;
    margin: 3% 0px;
}

.LiPTag:hover {
    color: #f56692;
}

@media only screen and (max-width: 700px) {
    .LiPTag {
        font-family: ManropeExtraBold;
        font-size: 1.5rem;
        margin: 3% 10px;
    }
}

@media only screen and (max-width: 500px) {
    .LiPTag {
        margin: 5% 0px;
    }
}