@font-face {
    font-family: ManropeExtraBold;
    src: url(./../../Manrope/static/Manrope-ExtraBold.ttf);
}

.mDiv {
    display: none;
}

.DropDownMobo {
    position: absolute;
    top: 53px;
    left: 0px;
    width: 100%;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fff;
    transition: all 0.5s;
}

@media only screen and (max-width: 850px) {
    .mDiv {
        position: fixed;
        width: 100%;
        height: 53px;
        background: linear-gradient( 117.76deg, rgba(255, 255, 255, 0.7) -7.21%, rgba(255, 255, 255, 0.5) 118.08%);
        backdrop-filter: blur(8px);
        z-index: 2;
    }
    .mDiv,
    .ChilDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .mDiv {
        justify-content: center;
    }
    .ChilDiv {
        justify-content: space-between;
        width: 95%;
    }
    .HamBurger {
        width: 44px;
        margin: 1%;
    }
    .burger1,
    .burger2,
    .burger3 {
        height: 3px;
        background-color: black;
    }
    .burger1 {
        margin-bottom: 5px;
        width: 100%;
    }
    .burger2 {
        margin-bottom: 5px;
        width: 75%;
    }
    .burger3 {
        width: 50%;
    }
    .h1 {
        font-family: MiaLove;
        font-weight: 100;
        letter-spacing: 0.12rem;
    }
    .PersonIcon {
        position: relative;
    }
    .PersonIcon:hover>.SoWDivPersonIcon {
        transform: translate(0px, 0px);
        z-index: 10;
        opacity: 1;
        pointer-events: auto;
    }
    .SoWDivPersonIcon {
        transform: translateY(10px);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;
        position: absolute;
        top: 38px;
        right: 0px;
        background-color: #f56692;
        padding: 10px 8px;
        border-radius: 10px;
        color: #fff;
        font-family: ManropeRegular;
        font-size: 0.8rem;
        width: 180px;
        text-align: center;
    }
    .arrow {
        position: absolute;
        width: 11px;
        height: 11px;
        top: -5px;
        right: 12px;
        background-color: #f56692;
        transform: rotate(45deg);
    }
    #LinkTagPDiv {
        padding-bottom: 15px;
        margin: 15px 0px;
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: #ff90b2;
        font-size: 16px;
    }
    #logoutPDiv {
        font-weight: bold;
        letter-spacing: 0.1rem;
        margin: 15px 0px;
        font-size: 16px;
    }
    .IconsClass0 {
        cursor: pointer;
        transition: all 0.3s;
    }
    .IconsClass0:hover {
        color: #f56692;
    }
    .UserIcon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
}