.mdiv {
  display: none;
}

@media only screen and (max-width: 700px) {
  .mdiv {
    display: block;
    width: 100%;
    padding: 20px;
  }
  .MyPTag {
    font-family: ManropeRegular;
    font-size: 2rem;
    margin-bottom: 20px;
  }
}
