@font-face {
    font-family: ManropeBold;
    src: url(./../../../Manrope/static/Manrope-Bold.ttf);
}

.imgTag {
    width: 100%;
    height: 91.2vh;
    filter: brightness(0.7);
}

.HeaderDiv {
    position: relative;
    width: 100%;
    height: 91.2vh;
}

.headerOverlayDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SAVEBIG {
    font-family: ManropeExtraBold;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

.onAllDiv {
    background-color: #fff;
}

.ONALLPRODUCTS {
    font-family: ManropeBold;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url("./../../../Img/clothes.jpg");
    color: transparent;
}

.FunFactsDiv {
    margin-top: 30px;
}

.FunFactsPTag {
    font-family: ManropeRegular;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    letter-spacing: 0.12rem;
}

.slideDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Hslide {
    width: 95%;
}

.slideComDiv {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
}

.slideDivMain {
    background-color: transparent;
    padding: 1.2rem;
    border-style: solid;
    border-width: 1.2px;
    border-color: #fff;
    border-radius: 5px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: ManropeRegular;
}