.mDiv {
  margin: 30px 0px;
}

.ImgTag {
  width: 100%;
  height: 100%;
}

.CardImgDiv {
  height: 350px;
}

.MainPTag {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: ManropeExtraBold;
  margin: 0px 0px 30px 3%;
}

.CardDivM {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.CardDivMap {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.CardGridDiv {
  margin: 0px 0px 30px 0px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(
    117.76deg,
    rgba(255, 255, 255, 0.5) -7.21%,
    rgba(255, 255, 255, 0.3) 118.08%
  );
  box-shadow: 0 10px 20px 0 lightgrey;
  transition: all 0.3s;
  width: 30%;
}

.CardGridDiv:hover {
  box-shadow: 0 10px 20px 0 #ff9bb9;
}

.empty_cart {
  margin-top: 20px;
  width: 25%;
  min-width: 150px;
}

.flexCentDiv {
  display: flex;
  justify-content: center;
}

#wishlist00ID {
  margin: 20px 0px;
  font-size: 22px;
  text-align: center;
}

.Name {
  font-weight: bold;
  font-family: ManropeExtraBold;
  margin: 7px 0px 7px 20px;
  border-style: solid;
  padding-bottom: 4px;
  border-width: 0px 0px 1px 0px;
  border-color: rgb(228, 228, 228);
  width: 93%;
}

.Price {
  margin: 0px 0px 10px 20px;
  font-family: ManropeRegular;
  color: rgb(57, 57, 57);
}

.CloseIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.CloseIcon:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
