.LoginPTag {
    text-align: center;
    font-family: ManropeExtraBold;
    font-size: 2.5rem;
    margin: 40px 0px 30px 0px;
}

.contentMDiv {
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Div {
    width: 70%;
    background: linear-gradient( 117.76deg, rgba(255, 255, 255, 0.7) -7.21%, rgba(255, 255, 255, 0.5) 118.08%);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 10px 20px 0 lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.LeftDiv {
    margin: 0px 0px 0px 30px;
    width: 45%;
}

.RightDiv {
    margin: 20px -30px 20px 0px;
    display: flex;
    justify-content: center;
}

.ImgLogin {
    max-width: 80%;
}

.LoginFormTag {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.passwordDiv {
    position: relative;
    margin: 30px 0px;
}

#email,
#password {
    width: 80%;
    outline: none;
    background-color: #fff;
    padding: 10px 15px;
    border: solid 1px lightgrey;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.3s;
}

#email:hover,
#password:hover {
    border-color: #f56692;
}

#email:focus,
#password:focus {
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent transparent #f34278 transparent;
}

#email::-webkit-input-placeholder,
#password::-webkit-input-placeholder {
    font-family: ManropeRegular;
    letter-spacing: 0.12rem;
}

#email:-ms-input-placeholder,
#password:-ms-input-placeholder {
    font-family: ManropeRegular;
    letter-spacing: 0.12rem;
}

#email::placeholder,
#password::placeholder {
    font-family: ManropeRegular;
    letter-spacing: 0.12rem;
}

#ShowPasswordDiv {
    position: absolute;
    top: 20%;
    right: 15%;
    transition: all 0.3s;
}

.LoginBtn {
    font-family: ManropeExtraBold;
    background-color: #fff;
    border: solid 1px lightgrey;
    padding: 12px 32px;
    border-radius: 5px;
    font-size: 1rem;
    letter-spacing: 0.2px;
    color: #f56692;
    transition: all 0.3s;
}

.LoginBtn:hover {
    color: #fff;
    background-color: #f56692;
    border-color: #f34278;
}

.LoginDivBTN {
    margin: 20px 0px;
    display: flex;
    justify-content: space-evenly;
}

.AlreadyPTag {
    font-family: ManropeRegular;
    text-align: left;
    margin-bottom: 20px;
}

.error {
    font-family: ManropeRegular;
    padding: 7px 20px;
    position: absolute;
    top: 70px;
    right: 50px;
    background: linear-gradient( 117.76deg, rgba(255, 255, 255, 0.7) -7.21%, rgba(255, 255, 255, 0.5) 118.08%);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    box-shadow: 10px 10px 50px lightgrey;
}

@media only screen and (max-width: 800px) {
    .LeftDiv {
        width: 60%;
    }
}

@media only screen and (max-width: 670px) {
    .Div {
        width: 90%;
    }
}

@media only screen and (max-width: 550px) {
    .Div {
        position: relative;
    }
    .LeftDiv {
        width: 100%;
    }
    .RightDiv {
        position: absolute;
        top: -45px;
        left: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ImgLogin {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .LoginPTag {
        text-align: left;
    }
}