@font-face {
  font-family: ManropeExtraBold;
  src: url(./../../Manrope/static/Manrope-ExtraBold.ttf);
}

@font-face {
  font-family: ManropeRegular;
  src: url(./../../Manrope/static/Manrope-Regular.ttf);
}

.mdiv {
  margin: 30px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ImgTag {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.leftDiv {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  max-height: 350px;
  margin-left: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #f56692;
  border-radius: 10px;
}

.PTagEmail {
  margin-bottom: 25px;
  font-family: ManropeRegular;
}

.pTags {
  font-weight: bold;
  width: 90%;
  margin-left: 20px;
  font-family: ManropeRegular;
  padding-bottom: 5px;
  margin-bottom: 10px;
  transition: all 0.3s;
  letter-spacing: 0.51px;
  cursor: pointer;
  border-style: solid;
  border-color: lightgrey;
  border-width: 0px 0px 1px 0px;
}

.pTags:hover {
  color: #f34278;
}

#LogoutLinkTag {
  width: 40%;
  padding: 7px 0%;
  border-style: solid;
  border-width: 1px;
  border-color: #d9534f;
  color: #d9534f;
  text-align: center;
  font-family: ManropeExtraBold;
  transition: all 0.3s;
}

#LogoutLinkTag:hover {
  background-color: #d9534f;
  color: #fff;
}

.LinkTagDiv {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightDiv {
  width: 60%;
  margin-right: 50px;
}

.MobomDiv {
  display: none;
}

@media only screen and (max-width: 950px) {
  .leftDiv {
    width: 30%;
  }
  .rightDiv {
    width: 50%;
    margin-right: 50px;
  }
}

@media only screen and (max-width: 700px) {
  .mdiv {
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  .leftDiv {
    margin: 0px;
    width: 90%;
  }
  .rightDiv {
    display: none;
  }
  .MobomDiv {
    display: flex;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 91vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 53px;
    left: 0px;
    transform: translateX(-100%);
    background-color: #fff;
    background-image: url(./../../Img/background.png);
    background-attachment: fixed;
    background-size: cover;
    transition: all 0.3s;
  }
}
