.contentMDiv {
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Div {
    width: 70%;
    background: linear-gradient( 117.76deg, rgba(255, 255, 255, 0.7) -7.21%, rgba(255, 255, 255, 0.5) 118.08%);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 10px 20px 0 lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.LeftDiv {
    margin: 0px 0px 0px 30px;
    width: 45%;
}

.RightDiv {
    margin: 20px -30px 20px 0px;
}

.ImgLogin {
    max-width: 80%;
}

.LoginFormTag {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#email,
#password {
    width: 80%;
    outline: none;
    background-color: #fff;
    padding: 10px 15px;
    border: solid 1px lightgrey;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.3s;
}

#email:hover,
#password:hover {
    border-color: #f56692;
}

#email:focus,
#password:focus {
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent transparent #f34278 transparent;
}

#email::-webkit-input-placeholder,
#password::-webkit-input-placeholder {
    font-family: ManropeRegular;
    letter-spacing: 0.12rem;
}

#email:-ms-input-placeholder,
#password:-ms-input-placeholder {
    font-family: ManropeRegular;
    letter-spacing: 0.12rem;
}

#email::placeholder,
#password::placeholder {
    font-family: ManropeRegular;
    letter-spacing: 0.12rem;
}

#ShowPasswordDiv {
    position: absolute;
    top: 20%;
    right: 15%;
    transition: all 0.3s;
}

.passwordDiv {
    position: relative;
    margin: 30px 0px;
}

.LoginPTag {
    text-align: center;
    font-family: ManropeExtraBold;
    font-size: 2.5rem;
    margin: 40px 0px 30px 0px;
}