.slick-prev {
    transform: translate(170%, -50%) !important;
    z-index: 1;
}

.slick-next {
    transform: translate(-300%, -50%) !important;
}

.slick-prev:before {
    content: "\2190";
    font-size: 2rem;
}

.slick-next:before {
    content: "\2192";
    font-size: 2rem;
}

.slick-prev:before:hover,
.slick-next:before:hover {
    color: gold !important;
}