.mDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.05);
}

.ConDiv {
    position: relative;
    background: linear-gradient( 117.76deg, rgba(255, 255, 255, 0.7) -7.21%, rgba(255, 255, 255, 0.5) 118.08%);
    backdrop-filter: blur(2rem);
    width: 80%;
    border-radius: 10px;
    padding: 0px 0px 1.5% 0px;
}

.ConDiv h1 {
    margin: 20px 0px 0px 30px;
    font-family: ManropeExtraBold;
}

.mDivInner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.CloseIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.rowDIvP {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rowDIv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.InCmDiv {
    float: right;
    border-style: solid;
    border-color: #f56692;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
}

.InPTag,
.CmPTag {
    padding: 7px 5px;
    font-family: ManropeRegular;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.CmPTag {
    border-style: solid;
    border-color: #f56692;
    border-width: 0px 0px 0px 1px;
}

.ImgTag {
    width: 100%;
}

.RightDiv {
    width: 60%;
}

.LeftDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.TableDiv {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89%;
}

.InCmDiv1,
.TableDiv1,
.imgMoboHTM {
    display: none;
}

.rowDIvPMobo {
    display: none;
    margin-top: 30px;
}

@media only screen and (max-width: 1100px) {
    .rowDIv {
        width: 98%;
    }
}

@media only screen and (max-width: 900px) {
    .ConDiv {
        width: 100%;
        height: 100vh;
    }
}

@media only screen and (max-width: 700px) {
    .rowDIvP {
        display: none;
    }
    .rowDIvPMobo {
        font-family: ManropeRegular;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        font-size: 1.2rem;
    }
    .InCmDiv1 {
        margin: 20px 20px 20px 0px;
        float: right;
        border-style: solid;
        border-color: #f56692;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100px;
    }
    .TableDiv1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 89%;
    }
    .imgMoboHTMDiv {
        margin-top: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .imgMoboHTM {
        display: flex;
        width: 400px;
        height: 350px;
    }
}

@media only screen and (max-width: 430px) {
    .imgMoboHTM {
        width: 95%;
        height: 350px;
    }
}