@font-face {
    font-family: ManropeLight;
    src: url(./../../../Manrope/static/Manrope-Light.ttf);
}

table {
    border-collapse: collapse;
}

td,
th {
    text-align: center;
    padding: 10px 35px;
    font-family: ManropeLight;
}

.th1 {
    background-color: lightgrey;
    border: 1px solid #dddddd;
    color: #fff;
}

@media only screen and (max-width: 1100px) {
    td,
    th {
        padding: 10px 25px;
    }
}

@media only screen and (max-width: 700px) {
    td,
    th {
        padding: 10px 35px;
    }
}

@media only screen and (max-width: 480px) {
    td,
    th {
        padding: 10px 25px;
    }
}

@media only screen and (max-width: 400px) {
    td,
    th {
        padding: 10px 15px;
    }
}